{% render 'partials/head.liquid' %}

{% comment %} <a href="/">Back</a> {% endcomment %}

<div id="Mainevidence" draggable="true">
  <div class="pin">
    <div class="pinTop"></div>
  </div>
  <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=200" alt="Profile picture">
  <h1>{{ person.name | upcase }}</h1>
</div>

<div class="evidence">
  <div class="pin">
    <div class="pinTop"></div>
  </div>
  <p>{{ person.bio }}</p>
</div>

<div class="evidence">
  <div class="pin">
    <div class="pinTop"></div>
  </div>
  <p>{{ person.residency }}</p>
</div>

<div class="evidence">
  <div class="pin">
    <div class="pinTop"></div>
  </div>
  <p class="birthdate">{{ person.birthdate }}</p>
</div>

<div class="evidence">
  <div class="pin">
    <div class="pinTop"></div>
  </div>
  <p class="birthdate">{{ person.fav_animal }}</p>
</div>

<div class="evidence">
  <div class="pin">
    <div class="pinTop"></div>
  </div>
  <p class="birthdate">{{ person.fav_hobby }}</p>
</div>

<div class="evidence">
  <div class="pin">
    <div class="pinTop"></div>
  </div>
  <p class="birthdate">{{ person.fav_game }}</p>
</div>

{% render 'partials/foot.liquid' %}